.layout.layout-slider {
  .is-appear,
  .is-enter {
    order: 1;
  }

  .is-exit {
    order: 0;
    margin-left: 100%;
  }

  .is-exit-active {
    transition: margin-left 400ms ease-in-out;
    margin-left: -100%;
  }
}
