.layout.layout-rotulus {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  width: 100%;
  height: auto;

  padding: 0px;
  margin: 0px;
  border: none;

  padding-top: 3em;
  padding-bottom: 3em;
}
