.control {
  width: 100%;
  height: auto;

  margin: 0;
  padding: 0;
  border: none;

  &.control-text {
    font-size: 1em;
    font-family: "Vesper Libre", serif;
  }

  &.control-boolean {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;

    padding-top: 0.25em;
    font-size: 1em;
    font-family: "Vesper Libre", serif;
    line-height: 0.7em;
    vertical-align: middle;
  }

  &.control-value {
    font-family: "Vesper Libre", serif;

    .control-value-input {
      position: relative;

      width: auto;
      height: auto;

      .hidden {
        display: inline-block;
        visibility: hidden;

        border: none;
        padding: 0px;
        margin: 0px;
      }

      input {
        position: absolute;

        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;

        border: none;
        padding: 0px;
        margin: 0px;

        text-align: right;

        line-height: 1em;

        -webkit-appearance: textfield;
        -moz-appearance: textfield;
        appearance: textfield;
      }

      input[type="number"]::-webkit-inner-spin-button,
      input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
      }

      input:focus {
        outline: none;
      }

      .btn.btn-increment,
      .btn.btn-decrement {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;

        position: absolute;

        left: -20px;

        margin: 0px;
        padding: 0px;
        border: none;
        border-radius: 0px;

        width: 20px;
        height: 50%;

        overflow: hidden;

        background: none;
      }

      .btn.btn-increment {
        top: 0px;

        &::before {
          content: "▲";
          font-size: 10px;

          margin: 0px;
          padding: 0px;
          border: none;
          height: 10px;
        }
      }

      .btn.btn-decrement {
        bottom: 0px;

        &::before {
          content: "▼";
          font-size: 10px;

          margin: 0px;
          padding: 0px;
          border: none;
          height: 10px;
        }
      }
    }
  }
}
