.page {
  display: block;

  width: auto;
  height: auto;

  margin: 0px;
  padding: 0px;
  border: none;

  overflow: hidden;
}

.page.page-character-sheet {
  padding-top: 3em;
  padding-bottom: 3em;
}
