@use '../variables' as variables;
@use '../mixin' as application;

body,
html {
  display: block;
  position: relative;

  min-width: 250px;

  width: 100%;
  height: 100%;

  padding: 0px;
  margin: 0px;
  border: none;

  box-sizing: border-box;

  overflow: hidden;

  font-family: "Vesper Libre", serif;
  color: variables.$text-color;

  @include application.font-size;
}
