@use 'sass:map';
@use '../../../node_modules/bootstrap/scss/bootstrap' as bootstrap;
@use '../mixin' as application;
@use '../variables' as variables;

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0px;
  margin: 0px;
  border: none;
  box-sizing: border-box;

  font-family: "Alegreya SC", serif;
  @include application.content-spacing;

  &:target {
    color: #ff7e00;
  }
}

@each $breakpoint in ("xs", "sm", "md", "lg") {
  @if $breakpoint == "xs" {
    @for $level from 1 to 6 {
      h#{$level} {
        font-size: map.get(
          map.get(variables.$header-size, $breakpoint),
          $level
        );
      }
    }
  } @else {
    @for $level from 1 to 6 {
      @include bootstrap.media-breakpoint-up($breakpoint) {
        h#{$level} {
          font-size: map.get(
            map.get(variables.$header-size, $breakpoint),
            $level
          );
        }
      }
    }
  }
}
